.jumbotron {background-color: #081002; color: #fff;}
button { background-color: #608744; color: #fff;}
footer {background-color: #D3FFB3;}
.card-h {background-color: aliceblue;margin:5px; flex: 1 100px;}
.banner-head img {object-fit: cover; width: 100%;}
#primavera {background-color: rgb(247, 188, 255);}
#verano {background-color: rgb(249, 253, 193);}
#invierno {background-color: rgb(174, 173, 255);}
#otoño {background-color: rgb(163, 162, 153);}