@charset "UTF-8";
.jumbotron {
  background-color: #5e87f7;
  color: #fff;
  margin: 10px;
  padding: 20px;
  list-style: none; }

button {
  background-color: #608744;
  color: #fff; }

footer {
  background-color: #D3FFB3; }

.card-h {
  background-color: aliceblue;
  margin: 5px;
  flex: 1 100px; }

.banner-head img {
  object-fit: cover;
  width: 100%; }

#primavera {
  background-color: #f7bcff; }

#verano {
  background-color: #f9fdc1; }

#invierno {
  background-color: #aeadff; }

#otoño {
  background-color: #a3a299; }
