@amarillo: #f1f436;
@rojo: rgb(245, 7, 7);
@verde: rgb(255, 255, 255);

.margin-almost-all (@margin:10px; @padding:20px) {
    margin: @margin;
    padding: @padding;
    
  }

.jumbotron {
  background-color: @azul;
  color: #fff;
  .margin-almost-all(20px, 30px) }

button {
  background-color: @verde;
  color: #fff; }

footer {
  background-color: #D3FFB3; }

.card-h {
  background-color: aliceblue;
  margin: 5px;
  flex: 1 100px; }

.banner-head img {
  object-fit: cover;
  width: 100%; }

#primavera {
  background-color: #f7bcff; }

#verano {
  background-color: #f9fdc1; }

#invierno {
  background-color: #aeadff; }

#otoño {
  background-color: #a3a299; }
